<nav class="navbar">
  <a class="nav-logo" href="https://avaana.com.au/"
    ><img src="assets/img/logo.png" alt="avaana" height="30"
  /></a>

  <ul class="links">
    <li><a href="#">Health and Wellbeing Appointments</a></li>
    <li><a href="#">Fitness Classes</a></li>
  </ul>

  <ul class="actions">
    <li>
      <a href="#"><img src="assets/img/search.svg" alt="search" /></a>
    </li>
    <li>
      <a href="#"><img src="assets/img/user.svg" alt="search" /></a>
    </li>
    <li><button class="cta-btn">List with us</button></li>
  </ul>

  <a class="mobile-nav__trigger"
    ><img src="assets/img/menu.svg" alt="mobile menu"
  /></a>
</nav>
